

<section>

  <form [formGroup]="formulario" (submit)="login()">

    <div class="login-box">
      <div class="login-body">
        <h1>UNIAJC</h1>
        <hr style="width: 30%; background: black; margin: 0 auto;">
        

        <div class="card-login" style="background-color: white;">
          <h3 class="text-uppercase" id="texto" style="color: black;">TRIAGE TEMPERATURA</h3>
          <div class="ui-fluid">
            <div class="p-field" style="margin-top: 20px;">
              <label for="firstname1" style="color: black;">Usuario</label>
              <input id="firstname1" pTooltip="Usuario" type="text" 
              class="form-control"
              tooltipPosition="left" formControlName="email"
                pInputText>

            </div>
            <div class="p-field">
              <label for="lastname1" style="color: black;">Contraseña</label>
              <input id="lastname1" pTooltip="password" 
              class="form-control"
              type="password" tooltipPosition="left" formControlName="contrasena"
                pInputText>

            </div>
          </div>
          <div class="ui-fluid">
            <button pButton type="button" label="Inicio sesión" type="submit"
              style="background: black; border-radius: 5px;padding: 4px; margin-top: 15px; font-size: 18px;"></button>
          </div>
        </div>
      </div>
    </div>

  </form>
</section>

<pre>
  Estado Formulario : {{ formulario.valid }}
  Status : {{ formulario.status }}
</pre>
<br>
<pre>
  {{formulario.value | json}}
</pre>
