/* body{
  margin: 0px;
  padding: 0px;
}

#background-login{

} */

/*******************
Error Page
******************/

* {
  margin: 0px;
  padding: 0px;

  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #333;
  /* background: url(../../../assets/imagenes/background/bg_login.jpg) no-repeat center center #fff; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}


section h4 {
  position: relative;
  width: 100%;
  height: 10vh;
  text-align: center;
  line-height: 100vh;
  font-size: 10vw;
  color: white;
  font-weight: 700;
  /* text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238; */
}

.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.banner .blocks {
  position: relative;
  display: block;
  width: 5vw;
  height: 5vh;
  background: white;
  animation: animate 0.75s ease-in-out forwards;
}

.banner .blocks:nth-child(even){
  animation: animate 1s ease-in-out forwards;
}
.banner .blocks:nth-child(7n+3){
  animation: animate 2.5s ease-in-out forwards;
}
.banner .blocks:nth-child(7n+7){
  animation: animate 1.5s ease-in-out forwards;
}


.login-box {
  height: 100%;
  position: fixed;
  background: url(../../../../assets/imagenes/background/estudio1.jpg) no-repeat center center #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}
.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.login-body {
  padding-top: 9%;
}
.login-body h1 {
  font-size: 90px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
  line-height: 110px;
}

#texto {
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 30px;
}

.card-login {
  position: absolute;
  height: 350px;
  width: 350px;
  background: rgba(0, 0, 0, 0, 0.1);
  /* background: cornflowerblue; */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(218, 217, 217, 0.568);
  transition: 0.5s ease-in;
  left: 50%;
  top: 53%;
  margin-top: -100px;
  margin-left: -200px;
}
