<div class="container-fluid">
  <div class="contenedor-tabla-temperatura">
    <div class="card">
      <h5>Lista de Registros</h5>
      <p-table [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} Totales" [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
              <tr>
                  <th>Id</th>
                  <th>Temperatura</th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer>
              <tr *ngFor="let i of temperaturas">
                  <td>{{i.id}}</td>
                  <td>{{i.temperatura}}</td>

              </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
              <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
              <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
      </p-table>
  </div>
  </div>
</div>
