<!-- ============================================================== -->
<div id="main-wrapper">

  <app-toolbar></app-toolbar>
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <div class="container-fluid">
      <!-- <app-breadcrumbs></app-breadcrumbs> -->

      <!-- ============================================================== -->
      <!-- Sistema de Rutas -->
      <!-- ============================================================== -->

      <router-outlet></router-outlet>

      <!-- ============================================================== -->
      <!-- End Sistema de Rutas -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="fixed-bottom">
        © 2021 UNIAJC
      </footer>

      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->

    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->

</div>
